@import '../styles'

/////////////////////////////
// Table start >

table
  table-layout: fixed
  width: 100%
  border-spacing: 0 $step1
  tbody tr
    @extend .boxShadow1
  th
    color: darkgrey
    font-size: small
    text-align: left
    text-transform: capitalize
    &.start.date, &.end.date, &.createdAt, &.updatedAt
      width: 90px
    &.actions
      width: 50px
    &.description
      width: $Per40
  td, th
    padding: $step1 $step2

// Table end >
/////////////////////////////
